* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
main {
  height: 100%;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
}
.navbar {
  padding: 0.8rem;
}
.navbar li {
  font-size: 120%;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
#about-me {
  padding: 3em;
}
#about-me h1,
#experience h1,
#project h1,
#education h1,
#skill-head {
  font-size: 300%;
}
#contact {
  font-size: 250%;
}
#about-me .btn-primary {
  margin: 2%;
}
#experience .card-body {
  min-height: 280px;
}
.padding {
  padding: 1.5em;
}
.padding-top {
  padding-top: 1.2em;
}
.padding-left {
  padding-left: 1.5rem;
}
.padding-bottom {
  padding-bottom: 1.2em;
}
.padding-right {
  padding-right: 1.5rem;
}
.content {
  font-size: 1.2em;
  padding-top: 1.2em;
  line-height: 2rem;
}
.self {
  border-radius: 50%;
  max-width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.social a {
  font-size: 4.5em;
  padding: 3rem;
}
.card-padding {
  padding: 1rem;
}
.social .fa-envelope {
  color: rgb(231, 127, 0);
}
.social .fa-github {
  color: #272727;
}
.social .fa-linkedin {
  color: #0e76a8;
}
.social .fa-phone-alt {
  color: #1e9b6b;
}

.social .fa-map-marker-alt {
  color: #0e76a8;
}

.fa-phone-alt:hover,
.fa-map-marker-alt:hover,
.fa-envelope:hover,
.fa-github:hover,
.fa-linkedin:hover {
  color: #d5d5d5;
}

.write-me:hover {
  text-decoration: none;
}
.btn-primary {
  background-color: #343a40;
  border-color: #343a40;
}

.btn-primary:hover,
.write-me:hover {
  background-color: #d5d5d5;
  color: #2f4454;
  border-color: #2f4454;
}
.write-me {
  color: #f5f5f5;
  text-decoration: none;
}
.background-dark {
  background-color: #343a40;
  color: #f5f5f5;
}
.background-light {
  background-color: #f5f5f5;
  color: #343a40;
}
.skillprop {
  padding: 0.5em;
  display: inline;
}
.text-mid-left {
  text-align: center;
  position: relative;
  right: 10%;
}
.text-mid-right {
  text-align: center;
  position: relative;
  left: 10%;
}
footer .padding {
  padding: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/*---Media Queries --*/
@media (max-width: 991px) {
  .navbar li {
    font-size: 140%;
  }
  #experience .card-body {
    min-height: 250px;
  }
  #education h2 {
    font-size: 180%;
  }
  .bar-3 h1 {
    font-size: 200%;
  }
  .bar-3 h3 {
    font-size: 150%;
  }
  #contact {
    font-size: 200%;
  }
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
  footer div {
    font-size: 95%;
  }
  footer .padding {
    padding: 0.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }
}
@media (max-width: 767px) {
  .self {
    max-width: 300px;
  }
  #experience .card-body {
    min-height: 200px;
  }
  .text-mid-left {
    text-align: center;
  }

  .text-mid-right {
    text-align: center;
  }
  .text-mid-left {
    text-align: center;
    position: relative;
    right: 10%;
  }
  .text-mid-right {
    text-align: center;
    position: relative;
    left: 9%;
  }
  #contact {
    font-size: 180%;
  }
  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
  footer .padding {
    padding: 0.5xrem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
}
@media (max-width: 767px) {
  .self {
    max-width: 250px;
  }
  .navbar-brand h2 {
    font-size: 150%;
  }
  .padding {
    padding: 1rem;
  }
  .padding-top {
    padding-top: 1em;
  }
  .padding-left {
    padding-left: 1rem;
  }
  .padding-bottom {
    padding-bottom: 1em;
  }
  .padding-right {
    padding-right: 1rem;
  }
  #about-me h1,
  #experience h1,
  #education h1,
  #project h1,
  #skill-head,
  .image h1 {
    font-size: 240%;
  }
  .image h4 {
    font-size: 110%;
  }
  .content,
  p,
  #education li {
    font-size: 100%;
  }
  #about-me .btn-primary {
    font-size: 90%;
    margin-bottom: 1em;
  }
  #experience h2,
  #education h2 {
    font-size: 140%;
  }

  #skills h1 {
    font-size: 150%;
  }
  #skills h2 {
    font-size: 130%;
  }
  #skills h3 {
    font-size: 122%;
  }
  #skills h4 {
    font-size: 100%;
  }
  #experience h4,
  #education h4,
  #project h5 {
    font-size: 110%;
  }
  #project h6,
  #education h6 {
    font-size: 100%;
  }
  .bar-3 h3 {
    font-size: 140%;
  }
  .social a {
    font-size: 2em;
    padding: 0.8rem;
  }
}
