* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
main {
  height: 100%;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

#about-me {
  padding: 3em;
}
.padding {
  padding: 1.5em;
}
.padding-top {
  padding-top: 1.2em;
}
.padding-left {
  padding-left: 1.5rem;
}
.padding-bottom {
  padding-bottom: 1.2em;
}
.padding-right {
  padding-right: 1.5rem;
}
.content {
  font-size: 1.2em;
  padding-top: 1.2em;
  line-height: 2rem;
}
.self {
  border-radius: 50%;
  max-width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.social a {
  font-size: 4.5em;
  padding: 3rem;
}

.fa-envelope {
  color: rgb(231, 127, 0);
}
.fa-github {
  color: #272727;
}
.fa-linkedin {
  color: #0e76a8;
}
.fa-phone-alt {
  color: #1e9b6b;
}
#about-me .fa-phone-alt,
#about-me .fa-linkedin {
  color: #f5f5f5;
}
.fa-map-marker-alt {
  color: #0e76a8;
}

.fa-phone-alt:hover,
.fa-map-marker-alt:hover,
.fa-envelope:hover,
.fa-github:hover,
.fa-linkedin:hover {
  color: #d5d5d5;
}

.write-me:hover {
  text-decoration: none;
}
.btn-primary {
  background-color: #343a40;
  border-color: #343a40;
}

.btn-primary:hover,
.write-me:hover {
  background-color: #d5d5d5;
  color: #2f4454;
  border-color: #2f4454;
}
.write-me {
  color: #f5f5f5;
  text-decoration: none;
}
.background-dark {
  background-color: #343a40;
  color: #f5f5f5;
}
.background-light {
  background-color: #f5f5f5;
  color: #343a40;
}
.skillprop {
  padding: 0.5em;
  display: inline;
}
.text-mid-left {
  left: 15%;
}
.text-mid-right {
  left: 35%;
}
/*---Media Queries --*/
@media (max-width: 991px) {
}
@media (max-width: 768px) {
  .self {
    max-width: 300px;
  }
}
@media (max-width: 576px) {
  .self {
    max-width: 250px;
  }
}
