* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f5f5f5;
}
main {
  height: 100%;
  width: 100%;
}
.navbar {
  padding: 0.8rem;
}
.navbar li {
  font-size: 120%;
}
#about-me {
  padding: 3em;
}
#about-me h1,
#experience h1,
#project h1,
#education h1,
#skill-head {
  font-size: 300%;
}
#contact {
  font-size: 250%;
}
#about-me .btn-primary {
  margin: 2%;
}
#experience #spacing {
  display: block;
  margin-bottom: 2rem;
}
#experience {
  background: url('../images/background1.jpg') no-repeat center;
  background-size: cover;
}
#education {
  background: url('../images/background3.jpg') no-repeat center;
  background-size: cover;
}
#back1 {
  background: url('../images/background4.jpg') no-repeat center;
  background-size: cover;
}
#back2 {
  background: url('../images/background2.jpg') no-repeat center;
  background-size: cover;
}

.padding {
  padding: 1.5em;
}
.padding-top {
  padding-top: 1.2em;
}
.padding-left {
  padding-left: 1.2rem;
}
.padding-bottom {
  padding-bottom: 1.2em;
}
.padding-right {
  padding-right: 1.2rem;
}
.content {
  font-size: 1.2em;
  padding-top: 1.2em;
  line-height: 2rem;
}
.self {
  border-radius: 50%;
  max-width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.social a {
  font-size: 4.5em;
  padding: 3rem;
}
.card-padding {
  padding: 1rem;
}
.social .fa-envelope {
  color: rgb(231, 127, 0);
}
.social .fa-github {
  color: #272727;
}
.social .fa-linkedin {
  color: #0e76a8;
}
.social .fa-phone-alt {
  color: #1e9b6b;
}
.social .fa-map-marker-alt {
  color: #0e76a8;
}
.fa-phone-alt:hover,
.fa-map-marker-alt:hover,
.fa-envelope:hover,
.fa-github:hover,
.fa-linkedin:hover {
  color: #d5d5d5;
}
.write-me:hover {
  text-decoration: none;
}
.btn-primary {
  background-color: #343a40;
  border-color: #343a40;
}
.btn-primary:hover,
.write-me:hover {
  background-color: #d5d5d5;
  color: #2f4454;
  border-color: #2f4454;
}
.write-me {
  color: #f5f5f5;
  text-decoration: none;
}
.background-dark {
  background-color: #343a40;
  color: #f5f5f5;
}
.background-light {
  background-color: #f5f5f5;
  color: #343a40;
}
.skillprop {
  padding: 0.5em;
  display: inline;
}
.text-mid-left {
  text-align: center;
  position: relative;
  right: 10%;
}
.text-mid-right {
  text-align: center;
  position: relative;
  left: 10%;
}
footer .padding {
  padding: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (max-width: 991px) {
  .navbar li {
    font-size: 140%;
  }
  #experience #spacing {
    display: block;
    margin-bottom: 0rem;
  }
  #education h2 {
    font-size: 180%;
  }
  .bar-3 h1 {
    font-size: 200%;
  }
  .bar-3 h3 {
    font-size: 150%;
  }
  #contact {
    font-size: 200%;
  }
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
  footer div {
    font-size: 95%;
  }
  footer .padding {
    padding: 0.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }
}

@media (max-width: 767px) {
  .self {
    max-width: 300px;
  }

  .text-mid-left {
    text-align: center;
  }

  .text-mid-right {
    text-align: center;
  }
  .text-mid-left {
    text-align: center;
    position: relative;
    right: 10%;
  }
  .text-mid-right {
    text-align: center;
    position: relative;
    left: 9%;
  }
  #contact {
    font-size: 180%;
  }
  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
  footer .padding {
    padding: 0.5xrem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
}
@media (max-width: 575px) {
  .self {
    max-width: 250px;
  }
  .navbar-brand h2 {
    font-size: 150%;
  }
  .padding {
    padding: 1rem;
  }
  .padding-top {
    padding-top: 1em;
  }
  .padding-left {
    padding-left: 1rem;
  }
  .padding-bottom {
    padding-bottom: 1em;
  }
  .padding-right {
    padding-right: 1rem;
  }
  #about-me h1,
  #experience h1,
  #education h1,
  #project h1,
  #skill-head,
  .image h1 {
    font-size: 240%;
  }
  .image h4 {
    font-size: 110%;
  }
  .content,
  p,
  #education li {
    font-size: 100%;
  }
  #about-me .btn-primary {
    font-size: 90%;
    margin-bottom: 1em;
  }
  #experience h2,
  #education h2 {
    font-size: 140%;
  }
  #skills h1 {
    font-size: 150%;
  }
  #skills h2 {
    font-size: 130%;
  }
  #skills h3 {
    font-size: 122%;
  }
  #skills h4 {
    font-size: 100%;
  }
  #experience h4,
  #education h4,
  #project h5 {
    font-size: 110%;
  }
  #project h6,
  #education h6 {
    font-size: 100%;
  }
  .bar-3 h3 {
    font-size: 140%;
  }
  .social a {
    font-size: 2em;
    padding: 0.8rem;
  }
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/jumbotron_1200.jpg') no-repeat;
    height: 675px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    background: url('../images/jumbotron_992.jpg') no-repeat;
    height: 558px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .jumbotron {
    background: url('../images/jumbotron_768.jpg') no-repeat;
    height: 432px;
  }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 {
    /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p {
    /* Kosher cert */
    font-size: 0.6em;
    margin-top: 12px;
  }
  .navbar-brand p img {
    /* Star-K */
    height: 20px;
  }

  #collapsable-nav a {
    /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span {
    /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  /* End Header */

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
  #menu-tile,
  #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

  .menu-item-photo {
    margin-right: auto;
  }
  .menu-item-tile .menu-item-price {
    text-align: center;
  }
  .menu-item-description {
    text-align: center;
  }
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 {
    /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */

  /* Home page */
  #menu-tile,
  #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}
